<small><a href="http://www.hiveworkshop.com/forums/models.php?id=x02hbx" target="_blank">Click here for website</a></small><h1 style="margin: 0px;">Bench Bend</h1><i>By imforfun</i><br /><br /><a href="http://www.hiveworkshop.com/forums/resource_images/15/models_14192_screenshot.jpg" target="_blank"><img src="http://www.hiveworkshop.com/forums/resource_images/15/models_14192_screenshot_tnb.jpg" border="0" /></a><br /><br /><b>Description:</b><br />This is one of the models made for my entry to the Melee map Contest #1, enjoy and edit however you wish, but please give credits if used! : )<br />
<br />
(All garden models share the same texture!)<br />
<br />
Update: texture quality/size reduced (49 kb).<br />
<br />
Original Texture (89 kb): <a href="http://www.hiveworkshop.com/forums/attachment.php?attachmentid=140927" target="_blank" title="">Attachment 140927</a><br /><br /><b>Textures:</b><br /><ul style="margin: 0px;"><li>GardenProps1.blp</li></ul><br />Please give me credit for my work<br />Do not redistribute this model without consent!<br /><br />Model was uploaded 2014, November 11<br />Model was last updated 2014, November 11<br /><br /><br />Visit <a href="http://www.hiveworkshop.com">The Hive Workshop</a> for more downloads