<small><a href="http://www.hiveworkshop.com/forums/models.php?id=4c7fkm" target="_blank">Click here for website</a></small><h1 style="margin: 0px;">Villager in robe - 40 animations</h1><i>By .KC, edited by me</i><br /><br /><a href="http://www.hiveworkshop.com/forums/resource_images/12/models_11055_screenshot.jpg" target="_blank"><img src="http://www.hiveworkshop.com/forums/resource_images/12/models_11055_screenshot_tnb.jpg" border="0" /></a><br /><br /><b>Description:</b><br />This is an edit of <a href="http://www.hiveworkshop.com/forums/models-530/villager-64141/?prev=search%3Dvillager%2520animation%26d%3Dlist%26r%3D20" target="_blank">.KC's 40 animation villager</a>, done by <a href="http://www.hiveworkshop.com/forums/requests-341/villager-robe-208885/" target="_blank">request</a><br />
<br />
i've notified .KC, if he is bothered by this i'll take down this model<br />
<br />
Update:<br />
removed the standing corpse and pickaxe geosets that weren't being used in any animation. also removed keyframes outside of animations, <br />
reduced filesize: 359kb to 102kb<br />
<br />
Update2: further edits to satisfy the raging crowd<br />
comparission: old&amp;gt;new<br />
<img src="http://i.imgur.com/4mjQi.jpg" border="0" alt="" /><img src="http://i.imgur.com/Xn7Hv.jpg" border="0" alt="" /><br /><br /><b>Textures:</b><br /><ul style="margin: 0px;"><li>None</li></ul><br />Please give me credit for my work<br />Do not redistribute this model without consent!<br /><br />Model was uploaded 2011, December 20<br />Model was last updated 2011, December 23<br /><br /><br />Visit <a href="http://www.hiveworkshop.com">The Hive Workshop</a> for more downloads