<small><a href="http://www.hiveworkshop.com/forums/models.php?id=bbyjzr" target="_blank">Click here for website</a></small><h1 style="margin: 0px;">Pickaxe + Item</h1><i>By Fan</i><br /><br /><a href="http://www.hiveworkshop.com/forums/resource_images/9/models_8731_screenshot.jpg" target="_blank"><img src="http://www.hiveworkshop.com/forums/resource_images/9/models_8731_screenshot_tnb.jpg" border="0" /></a><br /><br /><b>Description:</b><br />Hello again!<br />
<br />
had this one liyng around and thought it may be usefull for some people...<br />
Made this attachment for a rpg that my brother is working on. long story, short thing :P<br />
<br />
anyway, here is the pickaxe :D<br />
<br />
-108 polies<br />
-ingame texture<br />
-4kb filesize<br />
<br />
<b>NOTE: This isn't just a attachment! It's an attachment and the item-model attached as the portrait.</b><br />
<br />
give credits if you use it in your map/campaign and feel free to edit it as much as you like, but please! tell me before :D<br />
<br />
anyway have fun :D<br />
<br />
<b>ALSO! Big thanks to General Frank who helped me to make this thing working, without him, this wouldn't work :D</b><br /><br /><b>Textures:</b><br /><ul style="margin: 0px;"><li>None</li></ul><br />Please give me credit for my work<br />Do not redistribute this model without consent!<br /><br />Model was uploaded 2010, April 8<br /><br /><br />Visit <a href="http://www.hiveworkshop.com">The Hive Workshop</a> for more downloads