<small><a href="http://www.hiveworkshop.com/forums/models.php?id=6so47g" target="_blank">Click here for website</a></small><h1 style="margin: 0px;">HeroGlow</h1><i>By assasin_lord</i><br /><br /><a href="http://www.hiveworkshop.com/forums/resource_images/8/models_7155_screenshot.jpg" target="_blank"><img src="http://www.hiveworkshop.com/forums/resource_images/8/models_7155_screenshot_tnb.jpg" border="0" /></a><br /><br /><b>Description:</b><br />A simple attachable hero glow, just attach it to the units origin and you got a unit with glow.<br />
<br />
Team colored and have alternative size for normal and large<br />
<br />
<br />
Give me credit if you fell for it, because I can't stop you form using it if you don't<br />
<br />
EDIT:<br />
I'm terrible sorry but in later Wc3 versions this model won't work as I planned, apparently team-colored attachments won't change color anymore so this model is more or less fucked, I'm planning on making a full series of glows for each color but I'm not sure if it would be approved here so don't get your hopes up.<br /><br /><b>Textures:</b><br /><ul style="margin: 0px;"><li>None</li></ul><br />Please give me credit for my work<br />Do not redistribute this model without consent!<br /><br />Model was uploaded 2009, May 29<br />Model was last updated 2009, May 29<br /><br /><br />Visit <a href="http://www.hiveworkshop.com">The Hive Workshop</a> for more downloads